.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    padding: 1.3rem;
    background-color: var(--cold-white-bg-color);
    border-radius: 0.2rem;
}

.form__group {
    gap: 0.6rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 1.2rem;
}

.form__group label {
    font-weight: 500;
}

.form__group input,
.form__group textarea{
    width: 100%;
    padding: 0.6rem;
    border: 1px solid var(--light-gray-color);
    border-radius: 0.2rem;
    background-color: #fff;
}

.form__checkbox {
    display: flex;
    gap: 0.6rem;
    width: 100%;
    justify-content: flex-start;
    margin-bottom: 1.2rem;
}

.form__captcha-input {
    display: flex;
    width: 100%;

    input {
        border-radius: 0.2rem 0 0 0.2rem;
    }

    button {
        width: 3rem;
        padding: 0 0.6rem;
        border-radius: 0 0.2rem 0.2rem 0;
        background-color: var(--oil-blue-color);
        color: var(--white-font-color);
        transition: background-color 0.3s ease;

        &:hover {
            background-color: var(--oil-blue-bg-color);
        }
    }
}

.form__error-message {
    color: var(--crimson-red-color);
    font-size: 0.8rem;
}

.form__success-submit {
    display: none;
    margin-top: 1rem;
    font-weight: 500;
    text-align: center;

    p {
        color: var(--forest-green-color);
    }
}

.form__submit-button {
    width: 100%;
    padding: 0.6rem;
    border: none;
    border-radius: 0.2rem;
    background-color: var(--oil-blue-color);
    color: var(--white-font-color);
    transition: background-color 0.3s ease;

    &:hover {
        background-color: var(--oil-blue-bg-color);
    }

}

#captcha_challenge {
    background-color: var(--light-blue-gray-color);
    border: 1px dashed var(--light-gray-color);
    padding: 1rem;
    border-radius: 0.2rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    span {
        font-size: 2rem;
        letter-spacing: 0.5rem;
    }
}