.blog-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    gap: 2rem;
}

@media (min-width: 1200px) {
    .blog-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}