.home__tab--attention-model {
    & h3 {
        font-size: 1.2rem;
        font-weight: 500;
        margin-bottom: 1rem;
    }
}

.home__tabs--height {
    height: 16rem;
}

@media (min-width: 768px) {
    .home__tabs--height {
        height: 10rem;
    }
}

@media (min-width: 1200px) {
    .home__tabs--height {
        height: 8rem;
    }
}

