.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--cold-white-bg-color);
    padding: 1rem 2rem;
}

.navbar__home-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 3rem;
    overflow: hidden;
}

.navbar__home-icon img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}

.navbar__menu a {
    margin-right: .4rem;
    margin-left: .4rem;
}

.navbar__menu a:first-child {
    margin-left: 0;
}

.navbar__menu a:last-child {
    margin-right: 0;
}

.navbar__menu a {
    display: inline-block;
    padding: .4rem .8rem;
    transition: background-color 0.3s ease;
}

.navbar__menu a:hover {
    background-color: var(--cold-white-bg-color-hover);
    color: var(--dark-blue-font-color-hover);
    border-radius: .4rem;
}

.navbar a {
    color: var(--dark-blue-font-color)
}

.navbar__donate-button {
    display: inline-flex;
    background-color: var(--crimson-red-color);
    color: var(--cold-white-bg-color);
    padding: .8rem .8rem;
    transition: background-color 0.3s ease;
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
    box-shadow: 0 0.2rem .6rem 0 var(--black-shadow-color);
}

.navbar__donate-button a {
    color: var(--white-font-color)
}

.navbar__donate-button:hover {
    background-color: var(--crimson-red-color-hover);
    transform: translateY(-.5px);
    box-shadow: 0 0.2rem .6rem 0 var(--black-shadow-color);
}

.navbar__mobile-menu-button--wrapper {
    display: none;
    position: relative;
    justify-content: center;
    align-items: center;
}

.navbar__mobile-menu-button {
    position: absolute;
    top: 50%;
    right: 0 50%;
    transform: translate(-50%, -50%);
    width: 2.4rem;
}

.navbar__mobile-menu-button span {
    display: block;
    width: 100%;
    box-shadow: 0 0.2rem .6rem 0 var(--black-shadow-color);
    border-radius: .2rem;
    height: .22rem;
    background: var(--mobile-menu-bar-bg-color);
    transition: all .3s;
    position: relative;
}

.navbar__mobile-menu-button span + span {
    margin-top: .4rem;
}

.navbar__mobile-menu-button--active span:nth-child(1) {
    animation: ease .7s mobile-menu-button-top forwards;
    background-color: var(--cold-white-bg-color);
}

.navbar__mobile-menu-button--not-active span:nth-child(1) {
    animation: ease .7s mobile-menu-button-top-2 forwards;
}

.navbar__mobile-menu-button--active span:nth-child(2) {
    animation: ease .7s mobile-menu-button-scaled forwards;
    background-color: var(--cold-white-bg-color);
}

.navbar__mobile-menu-button--not-active span:nth-child(2) {
    animation: ease .7s mobile-menu-button-scaled-2 forwards;
}

.navbar__mobile-menu-button--active span:nth-child(3) {
    animation: ease .7s mobile-menu-button-bottom forwards;
    background-color: var(--cold-white-bg-color);
}

.navbar__mobile-menu-button--not-active span:nth-child(3) {
    animation: ease .7s mobile-menu-button-bottom-2 forwards;
}

@keyframes mobile-menu-button-top {
    0% {
        top: 0;
        transform: rotate(0);
    }

    50% {
        top: .65rem;
        transform: rotate(0);
    }

    100% {
        top: .65rem;
        transform: rotate(45deg);
    }
}

@keyframes mobile-menu-button-top-2 {
    0% {
        top: .65rem;
        transform: rotate(45deg);
    }

    50% {
        top: .65rem;
        transform: rotate(0deg);
    }

    100% {
        top: 0;
        transform: rotate(0deg);
    }
}

@keyframes mobile-menu-button-bottom {
    0% {
        bottom: 0;
        transform: rotate(0);
    }

    50% {
        bottom: .65rem;
        transform: rotate(0);
    }

    100% {
        bottom: .65rem;
        transform: rotate(135deg);
    }
}

@keyframes mobile-menu-button-bottom-2 {
    0% {
        bottom: .65rem;
        transform: rotate(135deg);
    }

    50% {
        bottom: .65rem;
        transform: rotate(0);
    }

    100% {
        bottom: 0;
        transform: rotate(0);
    }
}

@keyframes mobile-menu-button-scaled {
    50% {
        transform: scale(0);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes mobile-menu-button-scaled-2 {
    0% {
        transform: scale(0);
    }

    50% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@media (max-width: 900px) {
    .navbar__mobile-menu-button--wrapper {
        display: flex;
    }

    .navbar__menu {
        display: none;
    }

    .navbar__donate-button {
        display: none;
    }
}