.mb-1 {
    margin-bottom: 1rem;
}

.mb-2 {
    margin-bottom: 2rem;
}

.mt-1 {
    margin-top: 1rem;
}

.mt-2 {
    margin-top: 2rem;
}

.shadow {
    box-shadow: 0 0.2rem .6rem 0 var(--black-shadow-color);
}

.rounded-sm {
    border-radius: 0.2rem;
}

.rounded {
    border-radius: 0.4rem;
}