.blog-entry {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;    
}

.blog-entry__figure {
    height: 220px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 0.2rem;
    }
}

.blog-entry__content {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;

    h2 {
        font-size: 1.6rem;
        font-weight: 500;
    }

    div {
        display: flex;
        align-items: center;
        gap: 1rem;
    }
}

.blog-entry__label-chip {
    padding: 0.5rem 1rem;
    background-color: var(--crimson-red-color); /* TODO: color based on label */
    color: var(--white-font-color);
    border-radius: 5px;
    font-size: 0.9rem;
}

.blog-entry__date {
    color: var(--gray-blue-font-color);
    font-size: 0.9rem;
}

.blog-entry__text {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.label-chip--new {
    background-color: var(--label-chip--new);    
}

.label-chip--popular {
    background-color: var(--label-chip--popular);    
}

.label-chip--featured {
    background-color: var(--label-chip--featured);    
}

.label-chip--must-read {
    background-color: var(--label-chip--must-read);    
}

.label-chip--editors-choice {
    background-color: var(--label-chip--editors-choice);    
}

@media (min-width: 640px) {
    .blog-entry__figure {
        height: 300px;
    }
}

